<% if defined?(@message) %>
  $('#shell-history').append('<div class="history-io history-io-output"><%= @message %></div>');
<% end %>
$('#shell-cli').html('<%= j render('lunar_shell/shells/cli') %>');
