<!DOCTYPE html>
<html>
<head>
  <title>LunarShell</title>
  <%= stylesheet_link_tag    "lunar_shell/application", media: "all" %>
  <%= javascript_include_tag "lunar_shell/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
