<% if output[:status] == :request_current_password %>
  $('#shell-cli').html('<%= j render('lunar_shell/satellites/passwd/form') %>');
<% else %>
  $('#shell-history').append('<div class="output"><%= output[:error_message] %></div>');
  $('#shell-cli').html('<%= j render('lunar_shell/shells/cli') %>');
<% end %>
