default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: 
  password:

development:
  <<: *default
  database: lunar_shell_development

test:
  <<: *default
  database: lunar_shell_test

production:
  <<: *default
  database: lunar_shell
